body {
    background-color: #e8ebeb; 
    background-image: url(../../public/pic/pages.gif);
    background-repeat: no-repeat;
    background-size:100%;
    position: relative;
    
    
  }

.user{
    position: relative;
    width:7%;
    
  }

  